/* reset.css */

/* Resetear márgenes y padding en todos los elementos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Establecer estilos específicos para el encabezado (header) */
  .header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 16px 32px;
	background: #ffffff;
  }
  
  .header--titulo {
	font-size: 32px;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 15px;
	color: #78516A;
  }
  
  .menu--bar {
	display: flex;
	list-style: none;
	gap: 30px;
	font-size: 16px;
  }
  
  /* Establecer estilos específicos para el cuerpo (body) */
  body {
	background: #ED9FD6;
	width: 100vw;
	font-family: 'Shadows Into Light', 'Krub', sans-serif;
  }
  
  /* Agregar estilos para los enlaces */
  .link {
	text-decoration: none;
	color: #78516A;
	font-size: 28px;
  }
  
  .link:hover {
	text-decoration: underline;
	font-weight: 700;
	color: #8865E0;
	text-transform: uppercase;
	font-size: 32px;
  }
  
  /* Establecer estilos específicos para la sección de Inicio (home) */
  .home--container {
	padding-top: 83px;
	margin: 0 auto;
  }
  
  .home {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 24px;
	max-width: 100%;
	margin-bottom: 30px;
	padding: 20px;
	margin-top: 100px;
  }
  
  .home--contenido {
	width: 90%;
  }
  
  h1 {
	font-size: 52px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  }
  
  .descripcion--descripcion {
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	width: 890px;
  }
  
  .texto--descripcion {
	margin-top: 30px;
  }
  
  /* Agregar estilos para las redes sociales */
  .links {
	display: flex;
	gap: 33px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  
  .link--social {
	width: 30px;
	height: 30px;
  }
  
  .link--social:hover {
	transform: scale(1.4);
	cursor: pointer;
	transition: 1.4s;
  }
  
  .imagen--perfil {
	width: 368px;
	height: 368px;
	flex-shrink: 0;
	border-radius: 80px;
	padding: 0 30px;
  }
  
  /* Establecer estilos específicos para la sección de Sobre Mí (sobremi) */
  .sobremi {
	background: #FFBED5;
	width: 100%;
	padding: 30px 0;
	text-align: center;
  }
  
  .sobremi--titulo {
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 30px;
  }
  
  .sobremi--texto {
	font-family: 'Krub', sans-serif;
	font-size: 24px;
  }
  